<div class="m-tips-header" id="tips-header">
  <!-- clouds -->
  <div class="m-genki-cloud-1 ef-genki-cloud"><img src="../../../img/images/genki-1-cloud-1.png" class="img-width"></div>
  <div class="m-genki-cloud-2 ef-genki-cloud-2"><img src="../../../img/images/genki-1-cloud-2.png" class="img-width"></div>
  <div class="m-genki-cloud-3 ef-genki-cloud-3"><img src="../../../img/images/genki-1-cloud-3.png" class="img-width"></div>

  <!-- component shopping cart -->
  {% include '../../components/_shopping-cart.twig' %}

  <div class="m-tips-container">
    <div class="m-tips-content-wrap">
      <h1 class="m-tips-title">Tips Untuk Mama</h1>

      <div class="m-tips-filter">
        <div><a class="m-btn m-btn-blue">Semua</a></div>
        <div><a class="m-btn m-btn-green">Bayi</a></div>
        <div><a class="m-btn m-btn-yellow">Balita</a></div>
        <div><a class="m-btn m-btn-red">Inspirasi</a></div>
        <div class="select">
          <select>
            <option disabled selected>Filter</option>
            <option>Terbaru</option>
            <option>Favourite</option>
          </select>
        </div>
      </div>

      <div class="m-tips-list">
        <div class="m-tips-list-item">
          <div class="m-tips-list-item-image"><a><img src="../../../img/images/home-3-baby-1.png"></a></div>
          <h3 class="m-tips-list-item-title"><a>Judul Artikel 1</a></h3>
        </div>

        <div class="m-tips-list-item">
          <div class="m-tips-list-item-image"><a><img src="../../../img/images/home-3-baby-2.png"></a></div>
          <h3 class="m-tips-list-item-title"><a>Judul Artikel 1</a></h3>
        </div>

        <div class="m-tips-list-item">
          <div class="m-tips-list-item-image"><a><img src="../../../img/images/home-3-baby-3.png"></a></div>
          <h3 class="m-tips-list-item-title"><a>Judul Artikel 1</a></h3>
        </div>

        <div class="m-tips-list-item">
          <div class="m-tips-list-item-image"><a><img src="../../../img/images/home-3-baby-1.png"></a></div>
          <h3 class="m-tips-list-item-title"><a>Judul Artikel 1</a></h3>
        </div>

        <div class="m-tips-list-item">
          <div class="m-tips-list-item-image"><a><img src="../../../img/images/home-3-baby-2.png"></a></div>
          <h3 class="m-tips-list-item-title"><a>Judul Artikel 1</a></h3>
        </div>

        <div class="m-tips-list-item">
          <div class="m-tips-list-item-image"><a><img src="../../../img/images/home-3-baby-3.png"></a></div>
          <h3 class="m-tips-list-item-title"><a>Judul Artikel 1</a></h3>
        </div>
      </div>

      <div class="m-pagination">
        <a class="prev"><img src="../../../img/icons/chevron-left.png"></a>
        <a class="number">1</a>
        <a class="number active">2</a>
        <a class="number">3</a>
        <a class="next"><img src="../../../img/icons/chevron-right.png"></a>
      </div>
    </div>
  </div>

  <div class="m-tips-domba"><img src="../../../img/images/contact-1-domba.png" class="img-width"></div>
</div>
