<div class="m-tips-2-header" id="tips-testimoni">
  <div class="m-tips-container m-tips-2">
    <h2 class="m-tips-2-title">Testimoni</h2>

    <!-- ubah dari sini -->
    <div class="m-tips-2-list-wrap">
      <div j-direction="slider-testimoni">
        <div>
          <div class="m-tips-2-list-item">
            <div class="m-tips-2-list-item-image" j-height-width-equal>
              <div style="height: 100%; background: url('../../../img/images/tips-2-mom-baby-1.jpg'); background-size: cover; background-position: center center;"></div>
            </div>
            <div class="m-tips-2-list-item-descr-wrap">
              <p class="m-tips-2-list-item-descr">Semenjak si kecil memakai popok Genki Mokomoko, si kecil bebas bergerak dan kulitnya tidak iritasi.</p>
              <h6 class="m-tips-2-list-item-name">Mom Ratna</h6>
            </div>
          </div>
        </div>

        <div>
          <div class="m-tips-2-list-item">
            <div class="m-tips-2-list-item-image" j-height-width-equal>
              <div style="height: 100%; background: url('../../../img/images/tips-2-mom-baby-1.jpg'); background-size: cover; background-position: center center;"></div>
            </div>
            <div class="m-tips-2-list-item-descr-wrap">
              <p class="m-tips-2-list-item-descr">Semenjak si kecil memakai popok Genki Mokomoko, si kecil bebas bergerak dan kulitnya tidak iritasi.</p>
              <h6 class="m-tips-2-list-item-name">Mom Ratna</h6>
            </div>
          </div>
        </div>

        <div>
          <div class="m-tips-2-list-item">
            <div class="m-tips-2-list-item-image" j-height-width-equal>
              <div style="height: 100%; background: url('../../../img/images/tips-2-mom-baby-1.jpg'); background-size: cover; background-position: center center;"></div>
            </div>
            <div class="m-tips-2-list-item-descr-wrap">
              <p class="m-tips-2-list-item-descr">Semenjak si kecil memakai popok Genki Mokomoko, si kecil bebas bergerak dan kulitnya tidak iritasi.</p>
              <h6 class="m-tips-2-list-item-name">Mom Ratna</h6>
            </div>
          </div>
        </div>

        <div>
          <div class="m-tips-2-list-item">
            <div class="m-tips-2-list-item-image" j-height-width-equal>
              <div style="height: 100%; background: url('../../../img/images/tips-2-mom-baby-1.jpg'); background-size: cover; background-position: center center;"></div>
            </div>
            <div class="m-tips-2-list-item-descr-wrap">
              <p class="m-tips-2-list-item-descr">Semenjak si kecil memakai popok Genki Mokomoko, si kecil bebas bergerak dan kulitnya tidak iritasi.</p>
              <h6 class="m-tips-2-list-item-name">Mom Ratna</h6>
            </div>
          </div>
        </div>

        <div>
          <div class="m-tips-2-list-item">
            <div class="m-tips-2-list-item-image" j-height-width-equal>
              <div style="height: 100%; background: url('../../../img/images/tips-2-mom-baby-1.jpg'); background-size: cover; background-position: center center;"></div>
            </div>
            <div class="m-tips-2-list-item-descr-wrap">
              <p class="m-tips-2-list-item-descr">Semenjak si kecil memakai popok Genki Mokomoko, si kecil bebas bergerak dan kulitnya tidak iritasi.</p>
              <h6 class="m-tips-2-list-item-name">Mom Ratna</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./ubah dari sini -->

    <div class="m-tips-2-olshop">
      <!-- component olshop -->
      {% include '../../components/_olshop.twig' %}
    </div>
  </div>
</div>
