<div class="mk-footer" id="mk-footer">
  <div class="mk-footer-container">
    <div class="mk-footer-list">
      <!-- logo -->
      <div class="mk-footer-logo">
        <a><img src="../../../img/logos/logo-footer.png"></a>
      </div>

      <!-- menu -->
      <div class="mk-footer-menu">
        <a>Tentang Mokomoko</a>
        <a>Artikel</a>
        <a>Kata Mama</a>
        <a>Beli Sekarang</a>
        <a>Kontak Kami</a>
        <a>Genki Jepang</a>
      </div>

      <!-- follow -->
      <div class="mk-footer-follow">
        <h3 class="mk-footer-follow-title">Follow Us</h3>
        <div class="mk-footer-sosmed">
          <a><i class="fa fa-facebook"></i></a>
          <a><i class="fa fa-instagram"></i></a>
          <a><i class="fa fa-youtube"></i></a>
        </div>
        <h5 class="mk-footer-copy">Copyright 2019 © Genki Mokomoko</h5>
      </div>
    </div>
  </div>
</div>
