<div class="mk-footer" id="mk-footer">
  <div class="mk-footer-container">
    <div class="mk-footer-list">
      <!-- logo -->
      <div class="mk-footer-logo">
        <a><img src="../../../img/logos/logo-footer.png"></a>
      </div>

      <!-- menu -->
      <div class="mk-footer-menu">
        <a href="/">Home</a>
        <a href="products.html">Produk</a>
        <a href="tips.html">Tips untuk Mama</a>
        <a href="aktifitas.html">Aktifitas & Promo</a>
        <a href="genki.html">Genki Jepang</a>
        <a href="contact-us.html">Hubungi Kami</a>
      </div>

      <!-- follow -->
      <div class="mk-footer-follow">
        <h3 class="mk-footer-follow-title">Follow Us</h3>
        <div class="mk-footer-sosmed">
          <a><i class="fa fa-facebook"></i> Genki! Moko Moko</a>
          <a><i class="fa fa-instagram"></i> Popok Moko Moko</a>
          <a><i class="fa fa-youtube"></i> Genki! Moko Moko</a>
        </div>
        <h5 class="mk-footer-copy">Copyright 2019 © Genki Mokomoko</h5>
      </div>
    </div>
  </div>
</div>
