<div class="mk-header" id="header">
  <!-- Tambahkan bg-white, untuk background header menjadi putih -->
  <div class="mk-header-inner mk-container display-flex justify-content-between">
    <!-- logo -->
    <div class="mk-header-logo position-relative">
      <a href="/">
        <img src="../../img/logos/logo-1.png" />
      </a>
    </div>

    <!-- navicon -->
    <a class="mk-header-navicon" j-direction="show-menu"><i class="fa fa-navicon"></i></a>

    <!-- shopping cart -->
    {% include '../../components/_shopping-cart.twig' %}

    <!-- menu -->
    <div class="mk-header-menu-wrapper">
      <!-- form -->
      <div class="mk-header-menu-form display-flex justify-content-end align-items-center">
        <!-- search -->
        <form class="mk-header-search display-flex">
          <input type="text" placeholder="Telusuri">
          <button type="button">
            <i class="fa fa-search"></i>
          </button>
        </form>

        <!-- sosmed -->
        <div class="mk-header-sosmed display-flex align-items-center">
          <a class="display-flex align-items-center"><i class="fa fa-youtube"></i></a>
          <a class="display-flex align-items-center"><i class="fa fa-instagram"></i></a>
          <a class="display-flex align-items-center"><i class="fa fa-facebook-square"></i></a>
        </div>
      </div>

      <!-- menu -->
      <div class="mk-header-menu-list display-flex justify-content-end">
        <div><a href="/">Home</a></div>
        <div><a href="products.html">Produk</a></div>
        <div><a href="tips.html">Tips untuk Mama</a></div>
        <div><a href="aktifitas.html">Aktifitas & Promo</a></div>
        <div><a href="genki.html">Genki Japan</a></div>
        <div><a href="contact-us.html">Hubungi Kami</a></div>
      </div>
    </div>
  </div>

  <!-- shopping cart component -->
  <div class="comp-olshop" j-mobile="olshop">
    <div>
      <div class="comp-olshop-domba"><img src="../../img/images/comp-1-domba.png" class="img-width"></div>
  
      <h2 class="comp-olshop-title">Yuk, beli popok Genki Moko Moko sekarang</h2>
  
      <!-- slider -->
      <div class="comp-olshop-brand">
        <a class="comp-olshop-brand-item"><img src="../../img/images/logo-lazada.png" class="img-width"></a>
        <a class="comp-olshop-brand-item"><img src="../../img/images/logo-shopee.png" class="img-width"></a>
        <a class="comp-olshop-brand-item"><img src="../../img/images/logo-jdid.png" class="img-width"></a>
        <a class="comp-olshop-brand-item"><img src="../../img/images/logo-blibli.png" class="img-width"></a>
        <a class="comp-olshop-brand-item"><img src="../../img/images/logo-orami.png" class="img-width"></a>
      </div>
  
      <div class="com-olshop-sosmed" id="olshop-sosmed-button"></div>
    </div>
  </div>
</div>
