<div class="mk-header" id="header">
  <!-- Tambahkan bg-white, untuk background header menjadi putih -->
  <div class="mk-header-inner mk-container display-flex justify-content-between">
    <!-- logo -->
    <div class="mk-header-logo position-relative">
      <a>
        <img src="../../img/logos/logo-1.png" />
      </a>
    </div>

    <!-- menu -->
    <div class="mk-header-menu-wrapper">
      <!-- form -->
      <div class="mk-header-menu-form display-flex justify-content-end align-items-center">
        <!-- search -->
        <form class="mk-header-search display-flex">
          <input type="text" placeholder="Telusuri">
          <button type="button">
            <i class="fa fa-search"></i>
          </button>
        </form>

        <!-- sosmed -->
        <div class="mk-header-sosmed display-flex align-items-center">
          <a class="display-flex align-items-center"><i class="fa fa-youtube"></i></a>
          <a class="display-flex align-items-center"><i class="fa fa-instagram"></i></a>
          <a class="display-flex align-items-center"><i class="fa fa-facebook-square"></i></a>
        </div>
      </div>

      <!-- menu -->
      <div class="mk-header-menu-list display-flex justify-content-end">
        <div><a href="/">Home</a></div>
        <div><a href="products.html">Produk</a></div>
        <div><a href="tips.html">Tips untuk Mama</a></div>
        <div><a href="aktifitas.html">Aktifitas & Promo</a></div>
        <div><a href="genki.html">Genki Jepang</a></div>
        <div><a href="contact-us.html">Hubungi Kami</a></div>
      </div>
    </div>
  </div>
</div>
