html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: $VAGRoundedStdLight;
}
body { line-height: 1.5em; }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $VAGroundedstdBold;
}
p { font-family: $VAGRoundedStdLight; }
.mk-container {
  padding-right: 8.8%;
  padding-left: 8.8%;
}
.mk-content { min-height: 80vh; }
.m-contaier {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}
.img-width { max-width: 100%; }
.text-black { color: #607d8b !important; }
.text-green { color: #33b142 !important; }
.text-yellow { color: #f7c03e !important; }
.text-red { color: #ef373f !important; }
