/**
 * Variables
 */

// Colors
$primary: #007bff;
$btnPrimary: #06a7e2;

// Fonts
$VAGroundedBT: VAGroundedBT;
$VAGRoundedStdLight: VAGRoundedStdLight;
$VAGroundedstdBold: VAGroundedstdBold;

// Transition

/**
 * Typography Variables
 */

// Paragraph

// Headings

// Headings Font Size

// Links
