{% extends 'layouts/default.twig' %}
{% set head_title = 'Moko Moko - Aktifitas' %}

{% block page %}
  <!-- header -->
  {% include './partials/layouts/_header.twig' %}

  <!-- content -->
  <div class="mk-content" id="mk-content">
    <!-- section 1 header -->
    {% include './partials/aktifitas/_1-header.twig' %}

    <!-- section 2 aktifitas -->
    {% include './partials/aktifitas/_2-aktifitas.twig' %}

    <!-- section 3 promo -->
    {% include './partials/aktifitas/_3-promo.twig' %}
  </div>

  <!-- footer -->
  {% include './partials/layouts/_footer.twig' %}
{% endblock %}
