{% extends 'layouts/default.twig' %}
{% set head_title = 'Moko Moko - Contact Us' %}

{% block page %}
  <!-- header -->
  {% include './partials/layouts/_header.twig' %}

  <!-- content -->
  <div class="mk-content" id="mk-content">
    <!-- section 1 header -->
    {% include './partials/contact-us/_1-header.twig' %}

    <!-- section 2 form -->
    {% include './partials/contact-us/_2-form.twig' %}
  </div>

  <!-- footer -->
  {% include './partials/layouts/_footer.twig' %}
{% endblock %}
