{% extends 'layouts/default.twig' %}
{% set head_title = 'Moko Moko - Homepage' %}

{% block page %}
  <!-- header -->
  {% include './partials/layouts/_header.twig' %}

  <!-- content -->
  <div class="mk-content" id="mk-content"></div>

  <!-- footer -->
  {% include './partials/layouts/_footer.twig' %}
{% endblock %}
