<div class="tl-popup active" j-popup-place="brochure-form">
  <div class="tl-popup-success-inner position-relative">
    <a class="tl-popup-close" j-direction="popup-detail-hide" j-popup-detail-hide-target="message-show">
        <i class="fa fa-times"></i>
    </a>

    <div class="tl-popup-success-show">
      <div class="tl-popup-success-icon"><i class="fa fa-check"></i></div>
      <h2 class="tl-popup-success-title">Berhasil</h2>
      <h4 class="tl-popup-success-text">Data anda berhasil dikirin</h4>
    </div>
  </div>
</div>
