<div class="m-home-header" id="home-header">
  <div class="m-home-container">
    <div j-direction="slick-carousel">
      <div>
        <div class="m-home-header-item">
          <h1 class="m-home-header-title">Tiga kebebasan dalam satu popok</h1>
          <div class="m-home-header-triple position-absolute"><img src="../../../img/images/home-1-triple.png" class="img-width"></div>
          <div class="m-home-header-domba position-absolute"><img src="../../../img/images/home-1-domba.png" class="img-width"></div>
          <div class="m-home-header-produk position-absolute"><img src="../../../img/images/home-1-produk.png" class="img-width"></div>
          <div class="m-home-header-baby position-absolute"><img src="../../../img/images/home-1-baby.png" class="img-width"></div>
        </div>
      </div>

      <div>
        <div class="m-home-header-item">
          <h1 class="m-home-header-title">Tiga kebebasan dalam satu popok</h1>
          <div class="m-home-header-triple position-absolute"><img src="../../../img/images/home-1-triple.png" class="img-width"></div>
          <div class="m-home-header-domba position-absolute"><img src="../../../img/images/home-1-domba.png" class="img-width"></div>
          <div class="m-home-header-produk position-absolute"><img src="../../../img/images/home-1-produk.png" class="img-width"></div>
          <div class="m-home-header-baby position-absolute"><img src="../../../img/images/home-1-baby.png" class="img-width"></div>
        </div>
      </div>

      <div>
        <div class="m-home-header-item">
          <h1 class="m-home-header-title">Tiga kebebasan dalam satu popok</h1>
          <div class="m-home-header-triple position-absolute"><img src="../../../img/images/home-1-triple.png" class="img-width"></div>
          <div class="m-home-header-domba position-absolute"><img src="../../../img/images/home-1-domba.png" class="img-width"></div>
          <div class="m-home-header-produk position-absolute"><img src="../../../img/images/home-1-produk.png" class="img-width"></div>
          <div class="m-home-header-baby position-absolute"><img src="../../../img/images/home-1-baby.png" class="img-width"></div>
        </div>
      </div>
    </div>
  </div>
</div>
