<div class="m-home-product" id="home-product">
  <div class="m-contaier">
    <div class="m-home-product-triple"><img src="../../../img/images/home-2-triple.png" class="img-width"></div>

    <div class="m-home-product-item-wrapper">
      <div class="m-home-product-domba position-absolute ef-domba-2"><img src="../../../img/images/home-2-domba.png" class="img-width"></div>

      <div class="m-home-product-slide" j-direction="slick-carousel-arrows">
        <div>
          <div class="m-home-product-item">
            <div>
              <h2 class="m-home-product-item-title">Genki Mokomoko</h2>
              <div class="m-home-product-item-image"><img src="../../../img/images/product-s.png" class="img-width"></div>
            </div>
          </div>
        </div>

        <div>
          <div class="m-home-product-item">
            <div>
              <h2 class="m-home-product-item-title">Genki Mokomoko</h2>
              <div class="m-home-product-item-image"><img src="../../../img/images/product-s.png" class="img-width"></div>
            </div>
          </div>
        </div>

        <div>
          <div class="m-home-product-item">
            <h2 class="m-home-product-item-title">Genki Mokomoko</h2>
            <div class="m-home-product-item-image"><img src="../../../img/images/product-s.png" class="img-width"></div>
          </div>
        </div>
      </div>

      <div class="m-home-product-olshop"><img src="../../../img/images/home-product-olshop.png" class="img-width"></div>
    </div>
  </div>
</div>
