<div class="m-home-product" id="home-product">
  <div class="m-contaier">
    <div class="m-home-product-triple"><img src="../../../img/images/home-2-triple.png" class="img-width"></div>
  </div>
</div>
