<div class="m-home-tips" id="home-tips">
  <div class="m-contaier">
    <div class="m-home-tips-title-wrapper">
      <h2 class="m-home-tips-title">Tips untuk Mama</h2>
      <a class="m-home-tips-title-link">Lihat semua artikel</a>
    </div>

    <div>
      <!-- content for dekstop -->
      <!-- ubah dari sini -->
      <div class="m-home-tips-slide">
        <!-- jika data lebih > 3 -->
        <div class="m-home-tips-item-wrapper" j-direction="slider-promo">
          <div>
            <div class="m-home-tips-item">
              <div class="m-home-tips-item-image">
                <img src="../../../img/images/home-3-baby-1.png" class="img-width">
              </div>
              <h4 class="m-home-tips-item-label">Tips Mendidik Anak Kreatif Sejak Kecil</h4>
            </div>
          </div>

          <div>
            <div class="m-home-tips-item">
              <div class="m-home-tips-item-image">
                <img src="../../../img/images/home-3-baby-2.png" class="img-width">
              </div>
              <h4 class="m-home-tips-item-label">Tips Mendidik Anak Kreatif Sejak Kecil</h4>
            </div>
          </div>

          <div>
            <div class="m-home-tips-item">
              <div class="m-home-tips-item-image">
                <img src="../../../img/images/home-3-baby-3.png" class="img-width">
              </div>
              <h4 class="m-home-tips-item-label">Tips Mendidik Anak Kreatif Sejak Kecil</h4>
            </div>
          </div>

          <div>
            <div class="m-home-tips-item">
              <div class="m-home-tips-item-image">
                <img src="../../../img/images/home-3-baby-3.png" class="img-width">
              </div>
              <h4 class="m-home-tips-item-label">Tips Mendidik Anak Kreatif Sejak Kecil</h4>
            </div>
          </div>
        </div>
        <!-- ./jika data lebih > 3 -->

        <!-- jika data kurang <= 3 -->
        <!-- <div class="m-home-tips-item-wrapper">
          <div class="m-home-tips-item">
            <div class="m-home-tips-item-image">
              <img src="../../../img/images/home-3-baby-1.png" class="img-width">
            </div>
            <h4 class="m-home-tips-item-label">Tips Mendidik Anak Kreatif Sejak Kecil</h4>
          </div>

          <div class="m-home-tips-item">
            <div class="m-home-tips-item-image">
              <img src="../../../img/images/home-3-baby-1.png" class="img-width">
            </div>
            <h4 class="m-home-tips-item-label">Tips Mendidik Anak Kreatif Sejak Kecil</h4>
          </div>
        </div> -->
        <!-- ./jika data kurang <= 3 -->
      </div>
      <!-- ./ubah dari sini -->

      <!-- content for mobile -->
      <!-- content ini hapus aja -->
      <!-- <div class="m-home-tips-slide m-mobile" j-direction="slick-carousel-arrows"></div> -->
      <!-- ./content ini hapus aja -->
    </div>
  </div>
</div>
