<div class="m-home-tips" id="home-tips">
  <div class="m-contaier">
    <div class="m-home-tips-title-wrapper">
      <h2 class="m-home-tips-title">Tips untuk Mama</h2>
      <a class="m-home-tips-title-link">Lihat semua artikel</a>
    </div>

    <div class="m-home-tips-slide" j-direction="slick-carousel-arrows">
      <div>
        <div class="m-home-tips-item-wrapper">
          <div class="m-home-tips-item">
            <div class="m-home-tips-item-image">
              <img src="../../../img/images/home-3-baby-1.png" class="img-width">
            </div>
            <h4 class="m-home-tips-item-label">Tips Mendidik Anak Kreatif Sejak Kecil</h4>
          </div>
          <div class="m-home-tips-item">
            <div class="m-home-tips-item-image">
              <img src="../../../img/images/home-3-baby-2.png" class="img-width">
            </div>
            <h4 class="m-home-tips-item-label">Tips Mendidik Anak Kreatif Sejak Kecil</h4>
          </div>
          <div class="m-home-tips-item">
            <div class="m-home-tips-item-image">
              <img src="../../../img/images/home-3-baby-3.png" class="img-width">
            </div>
            <h4 class="m-home-tips-item-label">Tips Mendidik Anak Kreatif Sejak Kecil</h4>
          </div>
        </div>
      </div>

      <div>
        <div class="m-home-tips-item-wrapper">
          <div class="m-home-tips-item">
            <div class="m-home-tips-item-image">
              <img src="../../../img/images/home-3-baby-1.png" class="img-width">
            </div>
            <h4 class="m-home-tips-item-label">Tips Mendidik Anak Kreatif Sejak Kecil</h4>
          </div>
          <div class="m-home-tips-item">
            <div class="m-home-tips-item-image">
              <img src="../../../img/images/home-3-baby-2.png" class="img-width">
            </div>
            <h4 class="m-home-tips-item-label">Tips Mendidik Anak Kreatif Sejak Kecil</h4>
          </div>
          <div class="m-home-tips-item">
            <div class="m-home-tips-item-image">
              <img src="../../../img/images/home-3-baby-3.png" class="img-width">
            </div>
            <h4 class="m-home-tips-item-label">Tips Mendidik Anak Kreatif Sejak Kecil</h4>
          </div>
        </div>
      </div>

      <div>
        <div class="m-home-tips-item-wrapper">
          <div class="m-home-tips-item">
            <div class="m-home-tips-item-image">
              <img src="../../../img/images/home-3-baby-1.png" class="img-width">
            </div>
            <h4 class="m-home-tips-item-label">Tips Mendidik Anak Kreatif Sejak Kecil</h4>
          </div>
          <div class="m-home-tips-item">
            <div class="m-home-tips-item-image">
              <img src="../../../img/images/home-3-baby-2.png" class="img-width">
            </div>
            <h4 class="m-home-tips-item-label">Tips Mendidik Anak Kreatif Sejak Kecil</h4>
          </div>
          <div class="m-home-tips-item">
            <div class="m-home-tips-item-image">
              <img src="../../../img/images/home-3-baby-3.png" class="img-width">
            </div>
            <h4 class="m-home-tips-item-label">Tips Mendidik Anak Kreatif Sejak Kecil</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
