<div class="m-home-video" id="home-video">
  <div class="m-contaier">
    <h2 class="m-home-video-title">Genki MokoMoko Video</h2>

    <div class="m-home-video-list">
      <div class="m-home-video-item">
        <div class="m-home-video-item-image">
          <img src="../../../img/images/home-4-video.png" class="img-width">
          <div class="m-home-video-item-image-iframe-wrap">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4gX_p1VkgA4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <h4 class="m-home-video-item-label">Mokomoko 2019 TV Commercial (01:30)</h4>
      </div>

      <div class="m-home-video-item">
        <div class="m-home-video-item-image">
          <img src="../../../img/images/home-4-video.png" class="img-width">
          <div class="m-home-video-item-image-iframe-wrap">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4gX_p1VkgA4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <h4 class="m-home-video-item-label">Mokomoko 2019 TV Commercial (01:30)</h4>
      </div>
    </div>
  </div>
</div>
