<div class="comp-olshop">
  <div>
    <div class="comp-olshop-domba">
      <img src="../../img/images/comp-1-domba.png" class="img-width">
      <h2 class="comp-olshop-title">Yuk, beli popok Genki Moko Moko sekarang</h2>
    </div>

    <!-- ##########################################################
      Slider add atribute j-direction="slider-olshop" dan menjadi
      <div class="comp-olshop-brand" j-direction="slider-olshop">
    ########################################################### -->
    <div class="comp-olshop-brand">
      <a class="comp-olshop-brand-item"><img src="../../img/images/logo-lazada.png" class="img-width"></a>
      <a class="comp-olshop-brand-item"><img src="../../img/images/logo-shopee.png" class="img-width"></a>
      <a class="comp-olshop-brand-item"><img src="../../img/images/logo-jdid.png" class="img-width"></a>
      <a class="comp-olshop-brand-item"><img src="../../img/images/logo-blibli.png" class="img-width"></a>
      <a class="comp-olshop-brand-item"><img src="../../img/images/logo-blibli.png" class="img-width"></a>
      <!-- <a class="comp-olshop-brand-item"><img src="../../img/images/logo-blibli.png" class="img-width"></a> -->
    </div>

    <div class="com-olshop-sosmed" id="olshop-sosmed-button"></div>
  </div>
</div>
