<!-- desktop -->
<a class="m-home-header-shopping m-desktop" j-direction="show-shopping">
  <i class="fa fa-shopping-cart"></i>
</a>
<div class="m-home-header-shopping-icons">
  <a></a>
  <a></a>
  <a></a>
  <a></a>
  <a></a>
</div>

<!-- mobile -->
<a class="m-home-header-shopping m-mobile" j-direction="mobile-olshop"><i class="fa fa-shopping-cart"></i></a>
