<div class="mk-header">
  <div class="mk-header-inner mk-container">
    <!-- logo -->
    <div class="mk-header-logo">
      <a>
        <img src="../../img/logos/logo-1.png" />
      </a>
    </div>
  </div>
</div>
