<div class="m-contact-header" id="contact-header">
  <!-- clouds -->
  <div class="m-genki-cloud-1 ef-genki-cloud"><img src="../../../img/images/genki-1-cloud-1.png" class="img-width"></div>
  <div class="m-genki-cloud-2 ef-genki-cloud-2"><img src="../../../img/images/genki-1-cloud-2.png" class="img-width"></div>
  <div class="m-genki-cloud-3 ef-genki-cloud-3"><img src="../../../img/images/genki-1-cloud-3.png" class="img-width"></div>

  <div class="m-contact-container">
    <div class="m-contact-descr">
      <h1 class="m-contact-title">Tentang Kami</h1>

      <p class="m-contact-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p class="m-contact-text">Quis ipsum suspendisse ultricves gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="m-contact-domba"><img src="../../../img/images/contact-1-domba.png" class="img-width"></div>
  </div>
</div>
