<div class="m-contact-form" id="contact-form">
  <div class="m-contact-container">
    <h2 class="m-contact-form-title">Kirim Pesan</h2>

    <form class="m-contact-form-form">
      <div>
        <!-- nama -->
        <div class="m-field">
          <input type="text" placeholder="Nama">
        </div>

        <!-- email -->
        <div class="m-field">
          <input type="email" placeholder="Email">
        </div>

        <!-- no. telp -->
        <div class="m-field">
          <input type="number" placeholder="No. Telepon">
        </div>

        <!-- perihal -->
        <div class="m-field">
          <select>
            <option disabled selected>Perihal</option>
            <option value="1">1</option>
          </select>
        </div>

        <!-- attachment -->
        <div class="m-field file">
          <label for="form.attach">File Attachment</label>
          <div class="m-field-file-skin">
            <input type="file" id="form.attach" placeholder="File attachment">
            <div class="m-field-file-skin-descr">
              <h4 class="m-field-file-skin-descr-title">Klik untuk pilih file</h4>
            </div>
          </div>
        </div>
      </div>

      <div>
        <!-- descr -->
        <div class="m-field textarea">
          <textarea></textarea>
          <div class="noted">0/100000 (batas kata)</div>
        </div>
      </div>

      <div class="button-wrapper">
        <div class="m-contact-form-button">
          <div><img src="../../../img/images/captcha.jpg" class="img-width"></div>
          <div><button type="button" class="m-btn m-btn-blue">Kirim</button></div>
        </div>
      </div>
    </form>
  </div>

  <div class="m-contact-form-domba"><img src="../../../img/images/contact-2-domba.png" class="img-width"></div>
</div>
