<div class="m-omba-header" id="omba-header">
  <!-- clouds -->
  <div class="m-genki-cloud-1 ef-genki-cloud"><img src="../../../img/images/genki-1-cloud-1.png" class="img-width"></div>
  <div class="m-genki-cloud-3 m-omba ef-genki-cloud-3"><img src="../../../img/images/genki-1-cloud-3.png" class="img-width"></div>

  <!-- component shopping cart -->
  {% include '../../components/_shopping-cart.twig' %}

  <div class="m-omba-container">
    <div class="m-omba-content">
      <h1 class="m-omba-title">Mari berkenalan dengan Omba</h1>

      <div class="m-omba-descr">
        <p>Omba adalah domba kecil yang imut dan sangat lembut. Omba suka berteman dengan siapa saja dan selalu riang.</p>
        <p>Oiya di kepala Omba ada tunas daun yang tumbuh lho! Unik ya!</p>
      </div>
    </div>

    <div class="m-omba-domba position-absolute"><img src="../../../img/images/omba-1-domba.png" class="img-width"></div>
    <div class="m-omba-halo position-absolute"><img src="../../../img/images/omba-1-halo.png" class="img-width"></div>
    <div class="m-omba-omba position-absolute"><img src="../../../img/images/omba-1-omba.png" class="img-width"></div>
  </div>
</div>
