<div class="m-omba-notes" id="omba-notes">
  <div class="m-omba-container">
    <div class="m-omba-notes-content">
      <div class="m-omba-notes-domba"><img src="../../../img/images/omba-2-domba.png" class="img-width"></div>
      <div class="m-omba-notes-notes"><img src="../../../img/images/omba-2-notes.png" class="img-width"></div>
    </div>
  </div>
</div>
