<div class="m-omba-step" id="omba-step">
  <div class="m-omba-container">
    <h2 class="m-omba-step-title">Yuk kita mewarnai bersama Omba</h2>

    <ol class="m-omba-step-word">
      <li>1. Pilih gambar Omba dan klik tombol "Undu"</li>
      <li>2. Cetak file pada kertas HVS ataupun kertas gambar</li>
      <li>3. Ajak si kecil mewarnai omba</li>
    </ol>

    <div class="m-omba-step-domba-list">
      <div class="m-omba-step-domba-list-item"><img src="../../../img/images/omba-3-item-1.png" class="img-width"></div>
      <div class="m-omba-step-domba-list-item"><img src="../../../img/images/omba-3-item-2.png" class="img-width"></div>
      <div class="m-omba-step-domba-list-item"><img src="../../../img/images/omba-3-item-3.png" class="img-width"></div>
    </div>
  </div>
</div>
