<div class="m-aktif" id="aktif-header">
  <!-- clouds -->
  <div class="m-genki-cloud-1 ef-genki-cloud"><img src="../../../img/images/genki-1-cloud-1.png" class="img-width"></div>
  <div class="m-genki-cloud-2 ef-genki-cloud-2"><img src="../../../img/images/genki-1-cloud-2.png" class="img-width"></div>

  <!-- component shopping cart -->
  {% include '../../components/_shopping-cart.twig' %}

  <div class="m-aktif-container">
    <div class="m-aktif-descr">
      <h1 class="m-aktif-title m-contact-title">Temukan Aktivitas & Promo Menarik! </h1>

      <div class="m-aktif-produk"><img src="../../../img/images/aktifitas-1-produk.png" class="img-width"></div>
      <div class="m-aktif-butterfly"><img src="../../../img/images/aktifitas-1-butterfly.png" class="img-width"></div>
    </div>

    <div class="m-aktif-domba ef-domba"><img src="../../../img/images/aktifitas-1-domba.png" class="img-width"></div>
  </div>
</div>
