<div class="m-aktif-contest" id="aktif-aktifitas">
  <div class="m-aktif-contest-container">
    <div>
      <h2 class="m-aktif-contest-title">Aktifitas</h2>

      <!-- list top -->
      <div class="m-aktif-contest-list">
        <div class="m-aktif-c-l-item">
          <div class="m-aktif-c-l-photo"></div>
          <div class="m-aktif-c-l-descr">
            <h3 class="m-aktif-c-l-d-title">Mokomoko Road Show Agustus 2019</h3>
            <p class="m-aktif-c-l-d-descr">Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban</p>
          </div>
        </div>

        <div class="m-aktif-c-l-item">
          <div class="m-aktif-c-l-photo"></div>
          <div class="m-aktif-c-l-descr">
            <h3 class="m-aktif-c-l-d-title">Mokomoko Road Show Agustus 2019</h3>
            <p class="m-aktif-c-l-d-descr">Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban</p>
          </div>
        </div>

        <div class="m-aktif-c-l-item">
          <div class="m-aktif-c-l-photo"></div>
          <div class="m-aktif-c-l-descr">
            <h3 class="m-aktif-c-l-d-title">Promo Paket Popok berhadiah Tumblr</h3>
            <p class="m-aktif-c-l-d-descr">Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban</p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h2 class="m-aktif-contest-title">Promo</h2>

      <!-- list top -->
      <div class="m-aktif-contest-list">
        <div class="m-aktif-c-l-item">
          <div class="m-aktif-c-l-photo"></div>
          <div class="m-aktif-c-l-descr">
            <h3 class="m-aktif-c-l-d-title">Mokomoko Road Show Agustus 2019</h3>
            <p class="m-aktif-c-l-d-descr">Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban</p>
          </div>
        </div>

        <div class="m-aktif-c-l-item">
          <div class="m-aktif-c-l-photo"></div>
          <div class="m-aktif-c-l-descr">
            <h3 class="m-aktif-c-l-d-title">Mokomoko Road Show Agustus 2019</h3>
            <p class="m-aktif-c-l-d-descr">Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban</p>
          </div>
        </div>

        <div class="m-aktif-c-l-item">
          <div class="m-aktif-c-l-photo"></div>
          <div class="m-aktif-c-l-descr">
            <h3 class="m-aktif-c-l-d-title">Promo Paket Popok berhadiah Tumblr</h3>
            <p class="m-aktif-c-l-d-descr">Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
