<div class="m-aktif-contest" id="aktif-contest">
  <div class="m-aktif-contest-container">
    <!-- list top -->
    <div class="m-aktif-contest-list">
      <div class="m-aktif-c-l-item">
        <div class="m-aktif-c-l-photo"></div>
        <div class="m-aktif-c-l-descr">
          <h3 class="m-aktif-c-l-d-title">Mokomoko Road Show Agustus 2019</h3>
          <p class="m-aktif-c-l-d-descr">Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban</p>
        </div>
      </div>

      <div class="m-aktif-c-l-item">
        <div class="m-aktif-c-l-photo"></div>
        <div class="m-aktif-c-l-descr">
          <h3 class="m-aktif-c-l-d-title">Mokomoko Road Show Agustus 2019</h3>
          <p class="m-aktif-c-l-d-descr">Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban</p>
        </div>
      </div>

      <div class="m-aktif-c-l-item">
        <div class="m-aktif-c-l-photo"></div>
        <div class="m-aktif-c-l-descr">
          <h3 class="m-aktif-c-l-d-title">Promo Paket Popok berhadiah Tumblr</h3>
          <p class="m-aktif-c-l-d-descr">Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban</p>
        </div>
      </div>
    </div>

    <!-- photo contest -->
    <div class="m-aktif-contest-content">
      <h2 class="m-aktif-contest-title">Mokomoko Photo Contest</h2>

      <div class="m-aktif-contest-image"><img src="../../../img/images/aktifitas-2-babycontest.png" class="img-width"></div>

      <div class="m-aktif-contest-descr">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet ante felis. Etiam semper sit amet est eget suscipit. Aenean magna metus, luctus sed risus ac, consequat semper purus. Vestibulum non lobortis nisi, sit amet posuere nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec vel ultricies est, nec elementum arcu. Maecenas vestibulum neque eu dui egestas finibus. Nam ligula risus, blandit bibendum felis sit amet, aliquam porttitor ligula. Aliquam gravida massa id ex congue, quis venenatis ex euismod.</p>
        <p>Aliquam vulputate, enim eget tincidunt accumsan, odio risus varius augue, et pellentesque turpis odio et ipsum. Donec aliquet facilisis faucibus. Cras a fringilla lectus. Etiam vitae sodales ante. Nulla bibendum, metus et laoreet sollicitudin, eros ligula tristique sem, tincidunt aliquam ex neque nec ante. Pellentesque vel ultricies urna. Suspendisse eget diam eget ipsum malesuada facilisis pharetra at ligula. Nunc tristique tortor diam, non placerat enim condimentum eget. Aenean vulputate dolor vitae velit dapibus, ac sodales est commodo. Integer egestas sit amet nunc et ullamcorper. Cras volutpat, sem quis rhoncus scelerisque, purus dui accumsan magna, eget dapibus lacus tellus at augue. Sed feugiat purus urna. Proin augue tellus, suscipit vel tempor vel, finibus non elit. Phasellus sit amet quam id massa convallis feugiat.</p>
      </div>
    </div>
  </div>
</div>
