<div class="m-aktif-promo" id="aktif-promo">
  <div class="m-aktif-contest-container">
    <h2 class="m-aktif-contest-title">Promo</h2>

    <div class="m-aktif-contest-list" j-direction="slider-promo">
      <div class="m-aktif-c-l-item">
        <div class="m-aktif-c-l-photo"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRvNHpU66MwKTCLot7I4J--wciYZiD_w-W1Y5ket9-5OJ4G2JFY"></div>
        <div class="m-aktif-c-l-descr">
          <h3
            class="m-aktif-c-l-d-title"
            j-direction="popup-detail-show"
            j-popup-detail-target="promo-show"
            j-title="Mokomoko Road Show Agustus 2019 (1)"
            j-img="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRvNHpU66MwKTCLot7I4J--wciYZiD_w-W1Y5ket9-5OJ4G2JFY"
            j-descr="Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban">
            Mokomoko Road Show Agustus 2019 (1)
          </h3>
          <p class="m-aktif-c-l-d-descr">Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban</p>
        </div>
      </div>

      <div class="m-aktif-c-l-item">
        <div class="m-aktif-c-l-photo"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRvNHpU66MwKTCLot7I4J--wciYZiD_w-W1Y5ket9-5OJ4G2JFY"></div>
        <div class="m-aktif-c-l-descr">
          <h3
            class="m-aktif-c-l-d-title"
            j-direction="popup-detail-show"
            j-popup-detail-target="promo-show"
            j-title="Mokomoko Road Show Agustus 2019 (2)"
            j-img="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRvNHpU66MwKTCLot7I4J--wciYZiD_w-W1Y5ket9-5OJ4G2JFY"
            j-descr="Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban">
            Mokomoko Road Show Agustus 2019 (2)
          </h3>
          <p class="m-aktif-c-l-d-descr">Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban</p>
        </div>
      </div>

      <div class="m-aktif-c-l-item">
        <div class="m-aktif-c-l-photo"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRvNHpU66MwKTCLot7I4J--wciYZiD_w-W1Y5ket9-5OJ4G2JFY"></div>
        <div class="m-aktif-c-l-descr">
          <h3
            class="m-aktif-c-l-d-title"
            j-direction="popup-detail-show"
            j-popup-detail-target="promo-show"
            j-title="Mokomoko Road Show Agustus 2019 (3)"
            j-img="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRvNHpU66MwKTCLot7I4J--wciYZiD_w-W1Y5ket9-5OJ4G2JFY"
            j-descr="Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban">
            Mokomoko Road Show Agustus 2019 (3)
          </h3>
          <p class="m-aktif-c-l-d-descr">Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban</p>
        </div>
      </div>

      <div class="m-aktif-c-l-item">
        <div class="m-aktif-c-l-photo"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRvNHpU66MwKTCLot7I4J--wciYZiD_w-W1Y5ket9-5OJ4G2JFY"></div>
        <div class="m-aktif-c-l-descr">
          <h3
            class="m-aktif-c-l-d-title"
            j-direction="popup-detail-show"
            j-popup-detail-target="promo-show"
            j-title="Mokomoko Road Show Agustus 2019 (4)"
            j-img="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRvNHpU66MwKTCLot7I4J--wciYZiD_w-W1Y5ket9-5OJ4G2JFY"
            j-descr="Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban">
            Mokomoko Road Show Agustus 2019 (4)
          </h3>
          <p class="m-aktif-c-l-d-descr">Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban</p>
        </div>
      </div>

      <div class="m-aktif-c-l-item">
        <div class="m-aktif-c-l-photo"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRvNHpU66MwKTCLot7I4J--wciYZiD_w-W1Y5ket9-5OJ4G2JFY"></div>
        <div class="m-aktif-c-l-descr">
          <h3
            class="m-aktif-c-l-d-title"
            j-direction="popup-detail-show"
            j-popup-detail-target="promo-show"
            j-title="Mokomoko Road Show Agustus 2019 (5)"
            j-img="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRvNHpU66MwKTCLot7I4J--wciYZiD_w-W1Y5ket9-5OJ4G2JFY"
            j-descr="Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban">
            Mokomoko Road Show Agustus 2019 (5)
          </h3>
          <p class="m-aktif-c-l-d-descr">Mokomoko akan mengadakan road show ke 5 kota besar di jakarta, surabaya, ban</p>
        </div>
      </div>
    </div>

    <!-- pagination -->
    <div class="m-aktif-contest-paginate">
      <div class="m-pagination">
        <a class="prev"><i class="fa fa-caret-left"></i></a>
        <a class="number active">1</a>
        <a class="number">2</a>
        <a class="number">3</a>
        <a class="number">4</a>
        <a class="number">5</a>
        <a class="next"><i class="fa fa-caret-right"></i></a>
      </div>
    </div>
  </div>

  <!-- popup -->
  <div class="tl-popup" j-popup-detail-place="promo-show">
    <div class="tl-popup-img-inner position-relative">
      <a
        class="tl-popup-close"
        j-direction="popup-detail-hide"
        j-popup-detail-hide-target="promo-show">
        <i class="fa fa-times"></i>
      </a>

      <div class="tl-popup-img-show" id="popup-show-img-place">
        <h2 class="tl-pi-title text-black" j-descr-place="title"></h2>
        <div class="tl-pi-image"><img src="" j-descr-place="img"></div>
        <div class="tl-pi-descr text-black" j-descr-place="descr"></div>
      </div>
    </div>
  </div>
</div>