@font-face {
	font-family: VAGroundedBT;
	src: url('../../img/fonts/VAGRoundedBT-Regular.otf');
}
@font-face {
	font-family: VAGRoundedStdLight;
	src: url('../../img/fonts/VAGRoundedStd-Light.otf');
}
@font-face {
	font-family: VAGroundedstdBold;
	src: url('../../img/fonts/VAGRoundedStd-Bold.otf');
}
