<div class="m-genki-header" id="genki-header">
  <!-- clouds -->
  <div class="m-genki-cloud-1 ef-genki-cloud"><img src="../../../img/images/genki-1-cloud-1.png" class="img-width"></div>
  <div class="m-genki-cloud-2 ef-genki-cloud-2"><img src="../../../img/images/genki-1-cloud-2.png" class="img-width"></div>
  <div class="m-genki-cloud-3 ef-genki-cloud-3"><img src="../../../img/images/genki-1-cloud-3.png" class="img-width"></div>

  <div class="m-genki-container">
    <div class="m-genki-title"><img src="../../../img/images/genki-1-title.png" class="img-width"></div>

    <div class="m-genki-thumb"><img src="../../../img/images/genki-1-baby.jpg" class="img-width"></div>

    <h2 class="m-genki-descr-title">SUB-JUDUL/TAGLINE</h2>

    <p class="m-genki-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>

    <div class="m-genki-list">
      <div class="m-genki-item">
        <div class="m-gi-image"><img src="../../../img/images/tipsdetail-produk.png"></div>
        <h4 class="m-gi-name">Lorem Ipsum</h4>
        <p class="m-gi-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>

      <div class="m-genki-item">
        <div class="m-gi-image"><img src="../../../img/images/tipsdetail-produk.png"></div>
        <h4 class="m-gi-name">Lorem Ipsum</h4>
        <p class="m-gi-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <div class="m-button"><a class="m-btn m-btn-blue">Kunjungi</a></div>
      </div>
    </div>

    <div class="m-genki-button">
      <a class="m-btn m-btn-orange">Kunjungi Website Genki</a>
    </div>
  </div>
</div>
