.m-aktif {
  position: relative;
  padding-bottom: 30px;
  background: url('../../img/images/aktifitas-1-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
}
.m-aktif::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -100px;
  left: 0;
  height: 380px;
  width: 100%;
  z-index: 1;
  background: url('../../img/images/aktifitas-1-bg-bottom.png');
  background-size: auto 100%;
  background-position: left center;
}
.m-aktif-container,
.m-aktif-contest-container {
  position: relative;
  width: 75.5%;
  margin-right: auto;
  margin-left: auto;
  z-index: 3;
}
.m-aktif-descr {
  position: relative;
  width: 53%;
}
.m-aktif-title {
  position: relative;
  z-index: 10;
}
.m-aktif-title.m-contact-title {
  margin-bottom: 55px;
  font-size: 48px;
  line-height: 1.3em;
}
.m-aktif-produk img { margin-left: -70px; }
.m-aktif-butterfly {
  position: absolute;
  top: 0;
  right: 0;
  width: 17%;
}
.m-aktif-domba {
  position: absolute;
  right: 0;
  bottom: -20%;
  width: 42.5%;
}
.m-aktif-contest {
  position: relative;
  padding-top: 165px;
  padding-bottom: 95px;
  background: #07a7e3;
}
.m-aktif-contest-list {
  display: flex;
  flex-wrap: wrap;
  padding-right: -20px;
  padding-left: -20px;
  margin-bottom: 70px;
}
.m-aktif-c-l-item {
  flex: 0 0 31%;
  max-width: 31%;
  margin-right: 20px;
  margin-left: 20px;
}
[j-direction] .m-aktif-c-l-item {
  flex: 0 0 32%;
  max-width: 32%;
  margin-right: .5%;
  margin-left: .5%;
}
.m-aktif-c-l-photo {
  height: 205px;
  background: #fcf9d6;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  overflow: hidden;
}
.m-aktif-c-l-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.m-aktif-c-l-photo > div { height: 100%; }
.m-aktif-c-l-descr {
  height: 103px;
  padding: 15px 20px;
  background: #f0f8fd;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.m-aktif-c-l-d-title,
.m-aktif-c-l-d-title a {
  max-height: 40px;
  margin-bottom: 15px;
  overflow: hidden;
  font-size: 20px;
  color: #6f6f6f;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
}
.m-aktif-c-l-d-descr {
  max-height: 48px;
  overflow: hidden;
  font-size: 16px;
  color: #6f6f6f;
  font-weight: 400;
}
.m-aktif-contest-content {
  padding: 50px 115px;
  background: #fcf9d6;
  border-radius: 25px;
}
.m-aktif-contest-title {
  margin-bottom: 45px;
  font-size: 36px;
  color: white;
}
.m-aktif-promo .m-aktif-contest-title { color: #07a7e3; }
.m-aktif-contest-image {
  margin-bottom: 50px;
  text-align: center;
}
.m-aktif-contest-descr > p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #6f6f6f;
}
.m-aktif-contest-descr > p:last-child { margin-bottom: 0; }
.m-aktif-promo {
  position: relative;
  padding-top: 95px;
  padding-bottom: 325px;
  background: #a5e3ee;
}
