.mk-breadcrumb {
  position: absolute;
  top: 170px;
  left: 12.25%;
  z-index: 990;
}
.mk-breadcrumb-list {
  display: flex;
  list-style: none;
}
.mk-breadcrumb-list > li {
  display: block;
  position: relative;
  padding: 0 20px 0 0;
  margin: 0 10px 0 0;
}
.mk-breadcrumb-list > li:last-child {
  padding-right: 0;
  margin-right: 0;
}
.mk-breadcrumb-list > li::before {
  content: '>';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2px;
  right: 0;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  color: white;
  line-height: 0;
}
.mk-breadcrumb-list > li:last-child::before { display: none; }
.mk-breadcrumb-list > li > a {
  font-size: 14px;
  color: white;
  font-weight: bold;
  cursor: unset;
}
.mk-breadcrumb-list > li > a[href] {
  text-decoration: underline;
  cursor: pointer;
}
