.comp-olshop {
  background-color: #ffe641;
  background-image: url('../../img/images/comp-1-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top left;
  border-radius: 30px;
}
.comp-olshop[j-mobile="olshop"] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 100px;
  z-index: 100;
  background-image: url('../../img/images/comp-olshop-bg-mobile.jpeg');
  background-repeat: repeat;
  background-size: auto auto;
  background-position: top left;
  border-radius: 0;
}
.comp-olshop > div {
  position: relative;
  padding: 45px 35px;
}
.comp-olshop[j-mobile="olshop"] .comp-olshop-domba .img-width {
  display: none;
}
.comp-olshop-domba {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.comp-olshop-title {
  padding-left: 15px;
  text-align: center;
  font-size: 28px;
  color: #40bc2d;
}
.comp-olshop-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-right: -10px;
  padding-left: -10px;
}
.comp-olshop-brand-item {
  display: block;
  flex: 0 0 19.5%;
  max-width: 19.5%;
  width: 19.5%;
  margin: 0 10px;
  cursor: pointer;
}
