.ef-domba {
  animation-name: efDomba;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.ef-domba-late {
  animation-name: efDombaLate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.5s;
}

.ef-domba-2 {
  animation-name: efDomba2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.ef-genki-cloud {
  animation-name: efGenkiCloud1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.ef-genki-cloud-2 {
  animation-name: efGenkiCloud2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: .5s;
}

.ef-genki-cloud-3 {
  animation-name: efGenkiCloud3;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: .25s;
}
