.slide-control {
  position: absolute;
  top: 50%;
  margin-top: -26.5px;
  z-index: 5;
}
.slide-control.slide-prev { left: 40px; }
.slide-control.slide-next { right: 40px; }
.m-home-tips-slide .slide-control.slide-prev { left: -15px; }
.m-home-tips-slide .slide-control.slide-next { right: -15px; }
.m-btn {
  position: relative;
  padding: 5px 40px;
  border-radius: 30px;
  font-size: 18px;
  transition: all .3s ease-in-out;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  cursor: pointer;
}
.m-btn.m-btn-large {
  padding: 10px 50px;
  font-size: 24px;
  border-bottom-width: 5px;
}
.m-btn:hover {
  margin-top: 5px;
  border-bottom-width: 0;
}
.m-btn.m-btn-large:hover { margin-top: 10px; }
.m-btn.m-btn-orange {
  background: #f7c03e;
  border-bottom-color: #c49530;
  box-shadow: 0 2.5px 5px #bfbfbf;
  color: white;
}
.m-btn.m-btn-blue {
  background: #06a7e2;
  border-bottom-color: #006c97;
  box-shadow: 0 2.5px 5px #bfbfbf;
  color: white;
}
.m-btn.m-btn-green {
  background: #33b142;
  border-bottom-color: #2a9337;
  box-shadow: 0 2.5px 5px #bfbfbf;
  color: white;
}
.m-btn.m-btn-yellow {
  background: #f7c03e;
  border-bottom-color: #bd932f;
  box-shadow: 0 2.5px 5px #bfbfbf;
  color: white;
}
.m-btn.m-btn-red {
  background: #ef373f;
  border-bottom-color: #c82e34;
  box-shadow: 0 2.5px 5px #bfbfbf;
  color: white;
}
.m-field { margin-bottom: 25px; }
.m-field.textarea {
  background: white;
  border-radius: 15px;
}
.m-field.textarea > .noted {
  padding: 30px 5%;
  font-size: 14px;
  color: #787878;
  font-style: italic;
}
input,
select,
textarea,
.m-field.file label {
  display: block;
  height: 45px;
  width: calc(100% - 50px);
  padding-right: 25px;
  padding-left: 25px;
  background: white;
  border-radius: 15px;
  font-size: 18px;
}
.m-field select { width: 100%; }
.m-field.textarea > textarea {
  display: block;
  height: 211px;
  width: calc(100% - 50px);
  padding-top: 15px;
  padding-bottom: 15px;
}
select {
  color: #75758b;
}
option:not(:first-of-type) {
  color: black;
}
.m-field.file {
  position: relative;
}
.m-field.file label {
  display: flex;
  align-items: center;
  color: #75758b;
}
.m-field.file input {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60%;
  z-index: 3;
}
