.mk-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.mk-header-inner {
  height: 95px;
  transition: all .3s ease-in-out;
}
.mk-header-inner.bg-white {
  background: white;
}
.mk-header-logo a {
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  width: 220px;
}
.mk-header-logo a img { max-width: 100%; }
.mk-header-menu-wrapper {
  margin-top: 20px;
}
.mk-header-menu-form {
  margin-bottom: 20px;
}
.mk-header-search {
  margin-right: 10px;
}
.mk-header-search input {
  height: 22.5px;
  width: 90px;
  padding: 0 15px;
  background: white;
  border: 1.25px solid white;
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
  font-size: 12px;
  transition: all .3s ease-in-out;
}
.mk-header-inner.bg-white .mk-header-search input {
  border-color: $btnPrimary;
}
.mk-header-search button {
  height: 25px;
  padding: 0 10px;
  background: $btnPrimary;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}
.mk-header-sosmed > a {
  margin-left: 5px;
  font-size: 18px;
  color: white;
  transition: all .3s ease-in-out;
}
.mk-header-inner.bg-white .mk-header-sosmed > a {
  color: $btnPrimary;
}
.mk-header-menu-list > div {
  padding: 0 10px;
}
.mk-header-menu-list > div:last-child {
  padding-right: 0;
}
.mk-header-menu-list > div > a {
  display: block;
  padding: 5px 15px;
  border-radius: 30px;
  font-family: $VAGroundedstdBold;
  font-size: 14px;
  color: white;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
.mk-header-menu-list > div > a:hover { background: #06a7e2; }
.mk-header-inner.bg-white .mk-header-menu-list > div > a { color: $btnPrimary; }
.mk-header-inner.bg-white .mk-header-menu-list > div > a:hover { color: white; }
.mk-header-navicon {
  display: none;
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -18.5px;
  font-size: 36px;
  color: #06a7e2;
}
.m-home-header-shopping {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 175px;
  left: 0;
  height: 55px;
  width: 50px;
  padding: 0 15px;
  background: #f8c03e;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 5px #888;
  text-align: right;
  font-size: 30px;
  color: #ca9415;
}
