.m-home-header {
  position: relative;
  min-height: 765px;
  background: url('../../img/images/home-1-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
}
.m-home-header::before {
  content: '';
  position: absolute;
  bottom: -105px;
  left: 0;
  height: 320px;
  width: 100%;
  z-index: 1;
  background: url('../../img/images/home-1-bg-bottom.png') no-repeat;
  background-size: auto 100%;
  background-position: top center;
}
.m-home-container { padding-top: 180px; }
.m-home-header-item {
  position: relative;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  z-index: 5;
}
.m-home-header-title {
  margin-top: 5px;
  margin-bottom: 400px;
  text-align: center;
  font-size: 36px;
  color: white;
  font-weight: 700;
}
.m-home-header-triple {
  top: 205%;
  left: 37%;
  width: 27.3%;
}
.m-home-header-domba {
  top: 230%;
  left: 0;
  width: 27.3%;
}
.m-home-header-produk {
  top: 835%;
  left: 29%;
  width: 55.4%;
  z-index: 1;
}
.m-home-header-baby {
  top: 200%;
  right: 0;
  width: 34.4%;
}
.m-home-product {
  padding-top: 100px;
  padding-bottom: 160px;
  background: #06a7e2;
}
.m-home-product-triple { margin-bottom: 50px; }
.m-home-product-item-wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.m-home-product-domba {
  top: 24%;
  left: 1%;
  z-index: 3;
}
.m-home-product-slide {
  width: 75.7%;
  padding: 30px;
  background: url('../../img/images/home-2-bg-wave.png') no-repeat;
  background-size: 100% 100%;
  background-position: top left;
}
.m-home-product-slide > div {
  background: white;
  border-radius: 25px;
  box-shadow: inset 0 0 5px #888;
}
.m-home-product-item { padding: 25px 90px; }
.m-home-product-item-title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 36px;
  color: #25a9df;
}
