.m-home-header {
  position: relative;
  min-height: 765px;
  background: #82d1f2;
  z-index: 5;
}
.m-home-header::before {
  content: '';
  position: absolute;
  bottom: -105px;
  left: 0;
  height: 320px;
  width: 100%;
  z-index: 1;
  background-image: url('../../img/images/home-1-bg-bottom.png');
  background-size: auto 100%;
  background-position: left center;
}
.m-home-container {
  width: 75%;
  padding-top: 180px;
  margin: 0 auto;
}
.m-home-header .m-home-container {
  width: 100%;
  padding-top: 0;
  margin: 0 auto;
}
.m-home-header-item {
  position: relative;
  width: 100%;
  z-index: 5;
  text-align: center;
}
.m-home-header-item img { width: 100%; }
.m-home-header-title {
  margin-top: 5px;
  margin-bottom: 415px;
  text-align: center;
  font-size: 36px;
  color: white;
  font-weight: 700;
}
.m-home-header-triple {
  top: 205%;
  left: 37%;
  width: 27.3%;
}
.m-home-header-domba {
  top: 230%;
  left: 0;
  width: 27.3%;
}
.m-home-header-produk {
  top: 835%;
  left: 29%;
  width: 55.4%;
  z-index: 1;
}
.m-home-header-baby {
  top: 200%;
  right: 0;
  width: 34.4%;
}
.m-home-product {
  padding-top: 100px;
  padding-bottom: 180px;
  background: #06a7e2;
}
.m-home-product-triple {
  margin-bottom: 50px;
  text-align: center;
}
.m-home-product-item-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
}
.m-home-product-domba {
  top: 45px;
  left: 1%;
  z-index: 3;
}
.m-home-product-slide {
  width: 75.7%;
  padding: 30px;
  margin-bottom: 40px;
  background: url('../../img/images/home-2-bg-wave.png') no-repeat;
  background-size: 100% 100%;
  background-position: top left;
}
.m-home-product-slide > div {
  background: white;
  border-radius: 25px;
  box-shadow: inset 0 0 5px #888;
}
.m-home-product-item { padding: 25px 90px; }
.m-home-product-item-title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 36px;
  color: #25a9df;
}
.m-home-product-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-home-product-item-image img {
  max-width: 45%;
  margin: 0 2.5%;
}
.m-home-product-olshop {
  position: absolute;
  left: 0;
  bottom: -295px;
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  z-index: 5;
}
.m-home-tips {
  position: relative;
  padding-top: 165px;
  padding-bottom: 80px;
  background: url('../../img/images/home-3-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
}
.m-home-tips-title-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.m-home-tips-title {
  font-size: 36px;
  color: #40bc2d;
  font-weight: 700;
}
.m-home-tips-slide.m-mobile { display: none; }
.m-home-tips-title-link {
  font-size: 18px;
  color: #6f6f6f;
  text-decoration: underline;
  cursor: pointer;
}
.m-home-tips-item-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.m-home-tips-item {
  flex: 0 0 32%;
  max-width: 32%;
  text-align: center;
}
.m-home-tips-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.m-home-tips-item-label {
  font-size: 18px;
  color: #6f6f6f;
}
.m-home-video {
  padding-top: 40px;
  padding-bottom: 260px;
  background: #a5e3ee;
}
.m-home-video .m-contaier { width: 49.7%; }
.m-home-video-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
  color: #2bb6e9;
  font-weight: 700;
}
.m-home-video-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.m-home-video-item {
  flex: 0 0 49.5%;
  max-width: 49.5%;
  text-align: center;
}
.m-home-video-item-label {
  font-size: 20px;
  color: #6f6f6f;
}
.m-home-video-item-image { position: relative; }
.m-home-video-item-image > img { width: 100%; }
.m-home-video-item-image-iframe-wrap {
  position: absolute;
  top: 23%;
  left: 7%;
  height: 65%;
  width: 75%;
  z-index: 3;
  overflow: hidden;
  border: 1.25px solid #b0dbf3;
  border-radius: 35px;
}
.m-home-video-item-image-iframe-wrap > iframe {
  height: 100% !important;
  width: 100% !important;
  border-radius: 35px;
}
