.slick-dots {
  bottom: -3%;
  z-index: 10;
}
.slick-dots li {
  height: 15px;
  width: 15px;
  background: #ffedac;
  border-radius: 100%;
}
.slick-dots li.slick-active { background: white; }
[j-direction="slick-carousel-full"] .slide-control.slide-prev { left: -75px; }
[j-direction="slick-carousel-full"] .slide-control.slide-next { right: -75px; }
[j-direction="slick-carousel-full"] .slick-dots li { background: #c7e5f7; }
[j-direction="slick-carousel-full"] .slick-dots li.slick-active { background: #81d2f0; }
[j-direction="slider-olshop"] .slide-control.slide-next,
[j-direction="slider-promo"] .slide-control.slide-next {
  right: -55px;
}
[j-direction="slider-olshop"] .slide-control.slide-prev,
[j-direction="slider-promo"] .slide-control.slide-prev {
  left: -55px;
}
.m-tips-2-list-wrap .slick-dots { bottom: -50px; }
