.tl-popup {
  display: none;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  z-index: 1100;
  overflow-y: auto;
  background: rgba(123, 208, 239, 0.7);
  transition: $transition_03s;
  transform: scale(1.5, 1.5);
  opacity: 0;
}
.tl-popup.in { display: flex; }
.tl-popup[j-popup-place="brochure-form"].in { display: block; }
.tl-popup.active {
  display: flex;
  transform: scale(1, 1);
  opacity: 1;
}
.tl-popup[j-popup-place="brochure-form"].active {
  display: block;
  transform: scale(1, 1);
  opacity: 1;
}
.tl-popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  font-size: 20px;
  color: #06a7e2;
  cursor: pointer;
}
.tl-popup-img-inner {
  width: 50%;
  padding: 25px;
  margin: 100px auto;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 15px #c7c7c7;
}
.tl-pi-title {
  margin-bottom: 25px;
  font-size: 24px;
  color: #f7c03e;
  line-height: 1;
}
.tl-pi-image {
  margin-bottom: 25px;
  background: #fbfbfb;
  text-align: center;
}
.tl-pi-image img {
  max-width: 100%;
  max-height: 100%;
}
.tl-pi-descr { text-align: center; }
.tl-popup-success-inner {
  width: 400px;
  padding: 25px 15px;
  margin: 100px auto;
  background-color: white;
  border-radius: 5px;
}
.tl-popup-success-show { text-align: center; }
.tl-popup-success-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
  margin: 0 auto 25px auto;
  border: 5px solid #7bd0ef;
  border-radius: 100%;
  font-size: 36px;
  color: #7bd0ef;
}
.tl-popup-success-title {
  margin-bottom: 10px;
  font-size: 26px;
  color: #7bd0ef;
}
