.m-product-header {
  position: relative;
  padding-top: 265px;
  padding-bottom: 100px;
  background: url('../../img/images/product-1-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
}
.m-product-header::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 315px;
  width: 100%;
  background: url('../../img/images/product-1-bg-bottom.png') no-repeat;
  background-size: 100% auto;
  background-position: center top;
}
.m-product-container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 75.5%;
  z-index: 5;
}
.m-product-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.m-product-content > div:first-child {
  flex: 0 0 49%;
  max-width: 49%;
  margin-right: 8%;
}
.m-product-content > div:last-child {
  flex: 0 0 51%;
  max-width: 51%;
}
.m-product-descr-wrap {
  position: relative;
  padding: 55px 50px 30px 50px;
  background: white;
  border-radius: 30px;
  box-shadow: 0 0 15px #c7c7c7;
}
.m-product-qty {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}
.m-product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.m-product-item > div:first-child {
  flex: 0 0 35%;
  max-width: 35%;
  margin-right: 2.5%;
}
.m-product-item > div:last-child {
  flex: 0 0 62.5%;
  max-width: 62.5%;
}
.m-product-item-descr { margin-bottom: 20px; }
.m-product-item-descr-title {
  margin-bottom: 10px;
  font-size: 24px;
  color: #27b4e9;
}
.m-product-item-descr-descr > p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #9f9f9f;
}
.m-product-item-descr-descr > p.bordered {
  padding-bottom: 10px;
  border-bottom: 1.25px solid #9f9f9f;
}
.m-product-item-descr-descr > p:last-child { margin-bottom: 0; }
.m-product-size {
  display: flex;
  justify-content: space-between;
}
.m-product-size > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  background: #a1a1a1;
  border-radius: 100%;
  box-shadow: -2px 2px 2.5px #868686;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.m-product-size > a.active { background: #ff9482; }
.m-genki-cloud-3.m-product { top: 220px; }
.m-prod-size {
  position: relative;
  padding-top: 30px;
  padding-bottom: 100px;
  background: url('../../img/images/product-2-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
}
.m-prod-size-title {
  margin-bottom: 35px;
  text-align: center;
  font-size: 36px;
  color: #008cc3;
}
.m-prod-video {
  position: relative;
  padding-top: 65px;
  padding-bottom: 65px;
  background: white;
}
.m-prod-descr {
  position: relative;
  padding-top: 75px;
  padding-bottom: 0;
  background: url('../../img/images/product-4-bg.jpg');
  background-size: cover;
  background-position: center bottom;
}
.m-prod-descr > .m-product-container { padding-bottom: 775px; }
.m-prod-descr-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.m-prod-descr-serap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.m-prod-descr-serap > div:first-child {
  flex: 0 0 29.5%;
  max-width: 29.5%;
  margin-right: 4.5%;
}
.m-prod-descr-serap > div:last-child {
  flex: 0 0 39.7%;
  max-width: 39.7%;
}
.m-prod-descr-title {
  margin-bottom: 15px;
  font-size: 26px;
  color: white;
}
.m-prod-descr-descr > P {
  font-size: 18px;
  color: white;
}
.m-prod-descr-domba {
  position: absolute;
  bottom: 170px;
  left: 6%;
  width: 36.5%;
}
.m-prod-descr-cloud {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 6%;
  bottom: 280px;
  height: 355px;
  width: 460px;
  background: url('../../img/images/product-4-cloud.png') no-repeat;
  background-size: 100% 100%;
  background-position: center top;
}
.m-prod-descr-cloud > div {
  flex: 0 0 60%;
  max-width: 60%;
  text-align: center;
}
.m-prod-descr-cloud-name {
  margin-bottom: 15px;
  font-size: 32px;
  color: #3dcfff;
}
.m-prod-descr-cloud-descr > p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #1f86c8;
}
.m-prod-descr-cloud-button > a {
  padding: 5px 30px;
  background: #3dcfff;
  border-radius: 30px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
