<div class="m-product-header" id="product-header">
  <!-- clouds -->
  <div class="m-genki-cloud-1 ef-genki-cloud"><img src="../../../img/images/genki-1-cloud-1.png" class="img-width"></div>
  <div class="m-genki-cloud-3 m-product ef-genki-cloud-3"><img src="../../../img/images/genki-1-cloud-3.png" class="img-width"></div>

  <!-- component shopping cart -->
  {% include '../../components/_shopping-cart.twig' %}

  <div class="m-product-container">
    <div class="m-product-content">
      <div>
        <div class="m-product-image"><img src="../../../img/images/product-1-produk.png" class="img-width"></div>
      </div>

      <div>
        <div class="m-product-descr-wrap">
          <div class="m-product-qty"><img src="../../../img/images/product-1-title.png" class="img-width"></div>

          <div>
            <div class="m-product-item">
              <div>
                <div class="m-product-item-image"><img src="../../../img/images/product-1-triple.png" class="img-width"></div>
              </div>

              <div>
                <div class="m-product-item-descr">
                  <h2 class="m-product-item-descr-title">Genki Moko Moko Pants</h2>
    
                  <div class="m-product-item-descr-descr">
                    <p class="bordered">Popok celana yang dibuat dengan teknologi Jepang Triple Bebas: Bebas Bocor, Bebas Iritasi, dan Bebas Gerak</p>
                    <p>Variants: S1, S9, S22</p>
                  </div>
                </div>

                <div class="m-product-size">
                  <a class="active">S</a>
                  <a>M</a>
                  <a>L</a>
                  <a>XL</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
