<div class="m-prod-size" id="product-size">
  <div class="m-product-container">
    <h2 class="m-prod-size-title">Panduan Pemilihan Popok</h2>

    <div class="m-prod-size-descr"><img src="../../../img/images/product-2-size.png" class="img-width"></div>
  </div>
</div>
