<div class="m-prod-video" id="product-video">
  <div class="m-product-container">
    <h2 class="m-home-video-title">Genki MokoMoko Video</h2>

    <div class="m-home-video-list">
      <div class="m-home-video-item">
        <div class="m-home-video-item-image"><img src="../../../img/images/home-4-video.png" class="img-width"></div>
        <h4 class="m-home-video-item-label">Mokomoko 2019 TV Commercial (01:30)</h4>
      </div>

      <div class="m-home-video-item">
        <div class="m-home-video-item-image"><img src="../../../img/images/home-4-video.png" class="img-width"></div>
        <h4 class="m-home-video-item-label">Mokomoko 2019 TV Commercial (01:30)</h4>
      </div>
    </div>
  </div>
</div>
