<div class="m-prod-descr" id="product-descr">
  <div class="m-product-container">
    <div class="m-prod-descr-filter">
      <div><img src="../../../img/images/product-4-triple-text.png" class="img-width"></div>

      <div>
        <div class="m-prod-descr-filter-button">
          <a class="m-btn m-btn-green m-btn-large">Bebas Bocor</a>
          <a class="m-btn m-btn-red m-btn-large">Bebas Iritasi</a>
          <a class="m-btn m-btn-yellow m-btn-large">Bebas Gerak</a>
        </div>
      </div>
    </div>

    <div class="m-prod-descr-serap">
      <div>
        <div class="m-prod-descr-serap-img"><img src="../../../img/images/product-4-serap.png" class="img-width"></div>
      </div>

      <div>
        <h2 class="m-prod-descr-title">Bebas Bocor</h2>

        <div class="m-prod-descr-descr">
          <p>Dengan Maxi Gel yang mampu menyerap banyak hingga 12 jam dan bisa mengembang hingga 60x, membuat si kecil bebas bocor.</p>
        </div>
      </div>
    </div>

    <div class="m-prod-descr-olsho">
      <!-- component olshop -->
      {% include '../../components/_olshop.twig' %}
    </div>

    <div class="m-prod-descr-domba"><img src="../../../img/images/omba-1-domba.png" class="img-width"></div>
    
    <div class="m-prod-descr-cloud">
      <div>
        <h3 class="m-prod-descr-cloud-name">Hi! Namaku Omba</h3>

        <div class="m-prod-descr-cloud-descr">
          <p>Aku siap menemani kalian untuk tahu lebih jauh keunggulan dari popok Genki Moko Moko..  Mau tahu lebih lengkap tentang aku?</p>
        </div>

        <div class="m-prod-descr-cloud-button">
          <a>More</a>
        </div>
      </div>
    </div>
  </div>
</div>
