<div class="m-tipsdetail-header" id="tipsdetail-header">
  <!-- clouds -->
  <div class="m-genki-cloud-1 ef-genki-cloud"><img src="../../../img/images/genki-1-cloud-1.png" class="img-width"></div>
  <div class="m-genki-cloud-2 ef-genki-cloud-2"><img src="../../../img/images/genki-1-cloud-2.png" class="img-width"></div>
  <div class="m-genki-cloud-3 ef-genki-cloud-3"><img src="../../../img/images/genki-1-cloud-3.png" class="img-width"></div>

  <div class="m-tipsdetail-container">
    <div class="m-tipsdetail-content">
      <div>
        <div class="m-tipsdetail-item">
          <h1 class="m-tipsdetail-title">Judul Artikel (warna disesuaikan dengan kategori artikel)</h1>

          <div class="m-tipsdetail-image"><img src="../../../img/images/genki-1-baby.jpg" class="img-width"></div>

          <div class="m-tipsdetail-descr">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu fringilla massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed imperdiet sapien quis enim tincidunt, eu mollis lectus hendrerit. Sed finibus ligula purus, ut faucibus nisl porttitor ac. Pellentesque sollicitudin ipsum varius elit finibus imperdiet. In porttitor tincidunt metus, vitae bibendum nulla sodales in.</p>
            <p>Phasellus mollis mi libero, eget hendrerit urna efficitur at. Sed a magna sed mauris pellentesque sodales. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris dignissim, lectus nec congue blandit, tortor dui euismod tellus, ac vulputate ex tellus in tellus. Nullam tincidunt blandit mattis.</p>
            <p>Mauris sodales ipsum at magna pellentesque, ac fringilla eros laoreet. Morbi rutrum turpis a odio imperdiet finibus. Aliquam placerat tellus non nisl scelerisque, id scelerisque nulla mollis. Nunc tincidunt, felis nec maximus maximus, orci urna facilisis arcu, vel pellentesque justo augue eget dui. Sed nec egestas nibh, ac sodales risus. Mauris accumsan eget tellus quis blandit. Aliquam erat volutpat. Integer sollicitudin urna id libero sollicitudin, viverra congue velit interdum. Quisque elit sem, ultrices vel tristique in, commodo nec eros.</p>
            <p>Nullam eget ultrices nulla. Suspendisse eu lacinia enim. Sed nibh purus, ultricies a sagittis non, hendrerit non libero. Nullam feugiat justo quis tempor tincidunt.</p>
            <p>Suspendisse luctus nulla non augue dictum pretium sed varius justo. Duis imperdiet, sem at lacinia ornare, lacus ante consectetur purus, vel consectetur erat justo in eros. Cras sit amet ullamcorper dui, id sollicitudin nisi. Curabitur laoreet libero vel leo sodales interdum.</p>
            <p>Mauris sodales ipsum at magna pellentesque, ac fringilla eros laoreet. Morbi rutrum turpis a odio imperdiet finibus. Aliquam placerat tellus non nisl scelerisque, id scelerisque nulla mollis. Nunc tincidunt, felis nec maximus maximus, orci urna facilisis arcu, vel pellentesque justo augue eget dui. Sed nec egestas nibh, ac sodales risus. Mauris accumsan eget tellus quis blandit. Aliquam erat volutpat. Integer sollicitudin urna id libero sollicitudin, viverra congue velit interdum. Quisque elit sem, ultrices vel tristique in, commodo nec eros.</p>
            <p>Mauris sodales ipsum at magna pellentesque, ac fringilla eros laoreet. Morbi rutrum turpis a odio imperdiet finibus. Aliquam placerat tellus non nisl scelerisque, id scelerisque nulla mollis. Nunc tincidunt, felis nec maximus maximus, orci urna facilisis arcu, vel pellentesque justo augue eget dui. Sed nec egestas nibh, ac sodales risus. Mauris accumsan eget tellus quis blandit. Aliquam erat volutpat. Integer sollicitudin urna id libero sollicitudin, viverra congue velit interdum. Quisque elit sem, ultrices vel tristique in, commodo nec eros.</p>
          </div>

          <div class="m-tipsdetail-control">
            <a><i class="fa fa-chevron-left"></i> <i class="fa fa-chevron-left"></i> Sebelumnya</a>
            <a>Berikutnya <i class="fa fa-chevron-right"></i> <i class="fa fa-chevron-right"></i></a>
          </div>

          <div class="m-tipsdetail-artikel-wrap">
            <div class="m-tipsdetail-artikel-title">
              <h2>Artikel Terkait</h2>
            </div>

            <div class="m-tips-2-list m-tipsdetail m-title-rainbow">
              <div class="m-tips-2-list-item">
                <div class="m-tips-2-list-item-image" j-height-width-equal>
                  <img src="../../../img/images/home-3-baby-1.png" class="img-width">
                </div>
                <div class="m-tips-2-list-item-descr-wrap">
                  <h3 class="m-tips-2-list-item-title text-yellow">Lorem Ipsum Dolor SIt Amet Lorem Ipsum Dolor SIt Amet</h3>
                </div>
              </div>
  
              <div class="m-tips-2-list-item">
                <div class="m-tips-2-list-item-image" j-height-width-equal>
                  <img src="../../../img/images/home-3-baby-2.png" class="img-width">
                </div>
                <div class="m-tips-2-list-item-descr-wrap">
                  <h3 class="m-tips-2-list-item-title text-red">Lorem Ipsum Dolor SIt Amet Lorem Ipsum Dolor SIt Amet</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="m-tipsdetail-produk">
          <div class="m-tipsdetail-produk-image"><img src="../../../img/images/tipsdetail-produk.png" class="img-width"></div>
          <h4 class="m-tipsdetail-produk-title">Kemasan Jumbo Lebih Murah</h4>
        </div>

        <div class="m-tipsdetail-testi">
          <div class="m-tipsdetail-testi-title"><h2>TESTIMONI</h2></div>

          <div class="m-tips-2-list m-vertical">
            <div class="m-tips-2-list-item">
              <div class="m-tips-2-list-item-image" j-height-width-equal>
                <div style="height: 100%; background: url('../../../img/images/tips-2-mom-baby-1.jpg'); background-size: cover; background-position: center center;"></div>
              </div>
              <div class="m-tips-2-list-item-descr-wrap">
                <p class="m-tips-2-list-item-descr">Semenjak si kecil memakai popok Genki Mokomoko, si kecil bebas bergerak dan kulitnya tidak iritasi.</p>
                <h6 class="m-tips-2-list-item-name">Mom Ratna</h6>
              </div>
            </div>

            <div class="m-tips-2-list-item">
              <div class="m-tips-2-list-item-image" j-height-width-equal>
                  <div style="height: 100%; background: url('../../../img/images/tips-2-mom-baby-1.jpg'); background-size: cover; background-position: center center;"></div>
              </div>
              <div class="m-tips-2-list-item-descr-wrap">
                <p class="m-tips-2-list-item-descr">Semenjak si kecil memakai popok Genki Mokomoko, si kecil bebas bergerak dan kulitnya tidak iritasi.</p>
                <h6 class="m-tips-2-list-item-name">Mom Ratna</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-tipsdetail-olshop">
      <!-- component olshop -->
      {% include '../../components/_olshop.twig' %}
    </div>
  </div>
</div>
